body, html {
    background-image: url(https://beta.bpiexpressonline.com/portalserver/content/atom/beeb9475-6026-4046-b2b1-85d7b83b99b0/content/Background/BPI_Image_v2.jpg?id=b6848540-ad0b-4f75-a45f-b43ed825428e);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}